*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
.header{
    width: 100%;
    height: 52px;
    position: fixed;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .blur-header::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 100%)  ;
    top: 0;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
    left: 0;
    z-index: -1;
  }
  .logo{
    color: #063255;
  }
  .nav_list{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .nav_link:hover{
    color: red;
  }
  .nav_link{
    text-decoration: none;
    color: #394149;
    font-weight: 600;
    transition: color .4s;
  
  }
  .home_image{
    width: 850px;
    height: 645px;
  }
  .home_container{
    display: flex;
    background-color: #DCEAF5;
    align-items: center;
  }
  .home_content{
    padding-left: 11rem;
  }
  .nav_link_button{
    text-decoration: none;
    padding: .7rem 1rem;
    border-radius: 25px;
    background-color: #FEF4A7;
    color: #F58A07;
  }
  .home_content h1{
    color: #1D3444;
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .home_content p{
    font-size: 1.4rem;
    color: #5B5B5B;
    margin-bottom: 1.75rem;
  }
  .blog_container{
    background-color: #DCEAF5;
    padding-left: 14rem;
    padding-top: 10rem;
    padding-bottom: 3rem;
    padding-right: 10rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 8rem;
  }
  .avatar_group
  {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .avatar_group_mini{
    display: flex;
    gap: .75rem;
    align-items: center;
  }
  .blog_content{
    display: grid;
    grid-template-columns: 500px;
  }
  .blog_content h1{
    margin-top: 1rem;
    font-size: 64px;
    margin-bottom: 1.5rem;
  }
  .blog_content p{
    color: #5B5B5B;
    font-size: 18px;
  }
  .learn_more_group{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    color: #F58A07;
    gap: 1rem;
  
  }
  .learn_more_group i{
    font-size: 1rem;
  }
  .learn_more_group p{
    color: #F58A07 !important;
  }
  .all_post{
    padding-left: 6rem;
    padding-top: 7rem;
    padding-bottom: 3rem;
    padding-right: 7rem;
  }
  .all_post h1{
    font-size: 48px;
  }
  .blog_images h1{
    font-size: 24px;
  }
  .blog_images p{
    font-size: 16px;
  }
  .all_post_group
  {
    display: grid;
    margin-top: 3rem;
    grid-template-columns: repeat(3,1fr);
    gap: 5rem;
  }
  .blog_images{
    background-color:#DCEAF5;
    border-radius: 25px;
  }
  .blog_images img{
    width: 100%;
    border-radius: 0;
  }
  .blog_images h1,.blog_description{
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
  }
  .blog_images p{
    color: #5B5B5B;
    font-size: 1.2rem;
  }
  .footer{
    background-color: #063255;
    padding-left: 11rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .footer_content{
    display: grid;
    grid-template-columns: repeat(4,300px);
    color: white;
  }
  .footer_grid{
    display: grid;
    gap: 1rem;
  }
  .footer_company{
    margin-left: 3rem;
  }
  .p_footer{
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  .footer_social{
    display: flex;
    gap: 1rem;
  }
  .footer_input{
    margin-bottom: 1rem;
    padding: 1rem ;
    width: 300px;
    text-align: left;
    border-radius: 25px;
  }
    .button_footer{
      padding: 1rem 2rem ;
      text-align: center;
      background-color: #F58A07;
      border-radius: 25px;
      border: 0 solid;
      color: white;
    }
  .footer_end{
    margin-top: 5rem;
    color: white;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: 30rem;
  }
  .footer_end_group{
    display: flex;
    gap: 1rem;
  }
  .nav_close,.nav_toggle{
    cursor: pointer;
  }
  @media (max-width: 786px) {
    .nav_menu{
      position: fixed;
      top: 0;
      right: -100%;
      height: 100%;
      background-color: transparent;
      backdrop-filter: blur(16px);
      -webkit-backdrop-filter: blur(16px);
      width: 80%;
      padding: 6rem 3rem 0;
      transition: right .4s;
     
  }
  .nav_list{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    
  }
  .nav_close{
    position: absolute;
    top: 1.15rem;
    right: 1.5rem;
    font-size: 1.25rem;
  }
  .show-menu{
    right: 0;
  }
  .blog_container{
    flex-direction: column;
    padding: 1rem 0 2rem 0;
    gap: 1rem;
    justify-content: center;
    text-align: center;
  }
  .all_post{
    padding: 2rem 0 1rem 0;
  }
  .all_post_group{
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
  }
  .footer{
    padding: 2rem 0 0 0;
  }
  .footer_content{
    row-gap: 3rem ;
    grid-template-columns: repeat(2,1fr);
  }
  .footer_input{
    width: 70%;
  }
  .footer_end{
    margin-top: 5rem;
    color: white;
    display: flex;
    gap: 1rem;
  }
  .footer_end_group{
    display: flex;
    gap: 1rem;
  }
  .blog_content{
    grid-template-columns: none;
  }
  .blog_img{
    width: 100%;
  }
  }
  
  
  
  @media (min-width: 787px) {
    .nav_close,.nav_toggle{
      display: none;
    }
  }
  
  @media (min-width: 787px) and (max-width: 1291px){
    .home_container
    {
    display: grid ;
    }
    .home_img{
      justify-self: center;
    }
    .blog_container{
       padding: 4rem;
       gap: 2rem;
    }
    .all_post_group{
      grid-template-columns: repeat(2,1fr);
      gap: 2rem;
    }
    .footer_end{
      margin-top: 5rem;
      color: white;
      display: flex;
      gap: 1rem;
    }
    .footer_content{
      gap: 1rem;
      grid-template-columns: repeat(3,1fr);
    }
    .footer_end_group{
      display: flex;
      gap: 1rem;
    }
    .help_container{
      padding: 2rem 0 0 0;
      justify-content: center;
    }
    .blog_container{
      display: grid;
      text-align: center;
    }
    .blog_content{
      grid-template-columns: none;

    }
   
  }
  @media screen and (max-width:1390px) {
    .footer_input {
      width: 200px;
    }
  }
  @media screen and (min-width:1292px) and (max-width:1395px) {
    .footer_content{
      grid-template-columns: repeat(4,1fr);
    }
  }
  @media (min-width:350px) and (max-width:600px){
    h1{
      font-size: 1.5rem !important;
    }
    h2{
      font-size: 1.3rem !important;
    }
    .all_post_group{
     display: grid;
    }
    .blog_description 
    {
      text-align: center;
    }
    .blog_images{
      border-radius: 1px;
    }
    .blog_images{
      text-align: center;
    }
    .blog_images h1{
      padding: 1rem 1rem 0 0;
      font-size: 1.3rem;
    }
  }