*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header{
    width: 100%;
    height: 52px;
    position: fixed;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .blur-header::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: hsl(0, 0%, 100%)  ;
    top: 0;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
    left: 0;
    z-index: -1;
  }
  .logo{
    color: #063255;
  }
  .nav_list{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .nav_link:hover{
    color: red;
  }
  .nav_link{
    text-decoration: none;
    color: #394149;
    font-weight: 600;
    transition: color .4s;
  
  }
  .home_image{
    width: 850px;
    height: 645px;
  }
  .home_container{
    display: flex;
    background-color: #DCEAF5;
    align-items: center;
  }
  .home_content{
    padding-left: 11rem;
  }
  .nav_link_button{
    text-decoration: none;
    padding: .7rem 1rem;
    border-radius: 25px;
    background-color: #FEF4A7;
    color: #F58A07;
  }
  .home_content h1{
    color: #1D3444;
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .home_content p{
    font-size: 1.4rem;
    color: #5B5B5B;
    margin-bottom: 1.75rem;
  }
  .question{
    padding-left: 15rem;
    padding-top: 10rem;
    padding-bottom: 3rem;
    padding-right: 8rem;
  }
  .question_group{
    display: grid;
    grid-template-columns: repeat(3,400px);
    gap: 10rem;
  }
  .question_group_h1{
    margin-bottom: 1.5rem;
  }
  .p{
    margin-top: .5rem;
    color: #5B5B5B;
  }
  .question_flex{
    display: flex;
    gap: 3rem;
  }
 .map{
    padding-left: 15rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-right: 8rem;
 }
 .map_group{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
 }
 input , textarea{
    width: 100%;
    margin-bottom: 1rem;
    padding: 15px 30px;
    outline: 0;
    border: 1px solid white;
    color:#5B5B5B;
    border-radius: 25px;
    background:#F8F9FC;
    font-size: 15px;
  }
  .form_button{
    padding: 15px 30px;
    border-radius: 25px;
    border: 0 solid;
    background-color:#F58A07;
    color: white;
  }
  .footer{
    background-color: #063255;
    padding-left: 11rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .footer_content{
    display: grid;
    grid-template-columns: repeat(4,300px);
    color: white;
  }
  .footer_grid{
    display: grid;
    gap: 1rem;
  }
  .footer_company{
    margin-left: 3rem;
  }
  .p_footer{
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  .footer_social{
    display: flex;
    gap: 1rem;
  }
  .footer_input{
    margin-bottom: 1rem;
    padding: 1rem ;
    width: 300px;
    text-align: left;
    border-radius: 25px;
  }
    .button_footer{
      padding: 1rem 2rem ;
      text-align: center;
      background-color: #F58A07;
      border-radius: 25px;
      border: 0 solid;
      color: white;
    }
  .footer_end{
    margin-top: 5rem;
    color: white;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: 30rem;
  }
  .footer_end_group{
    display: flex;
    gap: 1rem;
  }
  @media (max-width: 786px) {
    .nav_menu{
      position: fixed;
      top: 0;
      right: -100%;
      height: 100%;
      background-color: rgba(0,0,0,0.65);
      backdrop-filter: blur(16px);
      -webkit-backdrop-filter: blur(16px);
      width: 80%;
      padding: 6rem 3rem 0;
      transition: right .4s;
     
  }
  .nav_list{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
    
    
  }
  .nav_link{
    color: white;
  }
  .nav_close{
    position: absolute;
    top: 1.15rem;
    color: white;
    right: 1.5rem;
    font-size: 1.25rem;
  }
  .show-menu{
    right: 0;
  }
  .question{
   padding: 4rem 0 2rem 0 ;
  }
  .question_group{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 2rem;
  }
  .map{
    padding: 5rem 0 2rem 0;
 }
 .map_group{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
 }
 .map_img img{
  width: 100%;
 }
 .form_button{
  width: 100%;
  margin-bottom: 2rem;
 }
  .footer{
    padding: 2rem 0 0 0;
  }
  .footer_content{
    row-gap: 3rem ;
    grid-template-columns: repeat(2,1fr);
  }
  .footer_input{
    width: 70%;
  }
  .footer_end{
    margin-top: 5rem;
    color: white;
    display: flex;
    gap: 1rem;
  }
  .footer_end_group{
    display: flex;
    gap: 1rem;
  }
  .energy_content{
    text-align: center;
  }
  .finsweet_group{
    text-align: center;
  }
  .finsweet_content{
    justify-content: center;
  }
  }
  
  
  
  @media (min-width: 787px) {
    .nav_close,.nav_toggle{
      display: none;
    }
  }
  
  @media (min-width: 787px) and (max-width: 1200px){
    .home_container
    {
    display: grid ;
    }
    .home_img{
      justify-self: center;
    }
    .question_flex{
      gap: 10rem;
    }
    .question{
      padding: 6rem 4rem 2rem 4rem ;
     }
     .question_group{
       display: grid;
       grid-template-columns: repeat(1,1fr);
       justify-content: center;
       gap: 2rem;
     }
     .map{
       padding: 5rem 0 2rem 0;
    }
    .map_group{
       display: grid;
       grid-template-columns: repeat(1,1fr);
       gap: 1rem;
    }
    .map_img img{
     width: 100%;
    }
    .form_button{
     width: 100%;
     margin-bottom: 2rem;
    }
    .footer_end{
      margin-top: 5rem;
      color: white;
      display: flex;
      gap: 1rem;
    }
    .footer_end_group{
      display: flex;
      gap: 1rem;
    }
    .help_container{
      padding: 2rem 0 0 0;
      justify-content: center;
    }
    .energy_group{
      flex-direction: column;
      padding: 2rem 0 2rem 0   ;
    }
    .bushiness{
      padding: 2rem 0 2rem 0 ;
    }
    .bushiness_group_big{
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .finsweet{
      padding: 2rem 0 2rem 0;
    }
    .finsweet_group{
      flex-direction: column;
    }
    .footer_content{
      gap: 1rem;
      grid-template-columns: repeat(3,1fr);
    }
    .bushiness_images img{
      width: 100%;
    }
    .building_content{
      display: flex;
      gap: 1rem;
      justify-content: center;
      flex-direction: column;
    }
    .bulding_container{
      padding: 2rem 0 2rem 0;
    }
    .building{
      padding: 0;
    }
    .content_logo,.services{
      justify-content: center;
    }
    .home_content{
      margin: 0;
      text-align: center;
    }
    .help{
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }
    .blog_group{
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }
  }
  @media screen and (max-width:1390px) {
    .finsweet_img img{
      width: 100%;
    }
    .footer_input {
      width: 200px;
    }
    .bushiness_images img{
      width: 90%;
    }
    .help{
      grid-template-columns: repeat(2,1fr);
    }
  }
  @media (min-width:1201px) and (max-width: 1400px) {
    
    .question{
      padding: 6rem 4rem 2rem 4rem ;
     }
     .question_group{
       display: grid;
       grid-template-columns: repeat(1,1fr);
       justify-content: center;
       gap: 2rem;
     }
     .map{
       padding: 5rem 0 2rem 0;
    }
    .map_group{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       gap: 1rem;
    }
    .map_group img{
      width: 100%;
    }
    .footer_content{
      display: grid;
      grid-template-columns: repeat(4,1fr);
    }
  }
 